@model IEnumerable<Shop.Business.Models.CustomerViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create">Create New Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.FirstName), "Index", new { sortOrder = ViewBag.FirstNameSortToggle})
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.LastName), "Index", new { sortOrder = ViewBag.LastNameSortToggle})
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Username), "Index", new { sortOrder = ViewBag.UsernameSortToggle})
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
